body {
    background-color: lightblue;
    font-size: 18px;
    text-align: center;
}

h1 {
    font-size: 34px;
}

p {
    font-size: 18px;
}

#searchInput {
    width: 80%;
    max-width: 500px;
    box-sizing: border-box;
    padding: 14px;
    font-size: 18px;
    margin: 10px;
}

#searchButton {
    padding: 14px 25px;
    font-size: 18px;
    margin: 5px;
}

#results {
    margin-top: 20px;
    font-size: 18px;
}

.register-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 14px 20px;
    font-size: 18px;
}
